<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our services</title>
</head>
<body>
    <h1>Services offered</h1>
    <p>We offer a variety of services.</p>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">File:</label>
        <input type="file" id="file" name="image" required><br><br>

        <input type="submit" value="Upload">
    </form>
    {%for i in data %}
    <img src="{{i.image.url}}" height="100px" width="100px">
    {%endfor%}
</body>
</html>