<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="fname" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="lname" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="uname" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="pass1" required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="pass2" required><br><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>
