<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="fname">First name:</label>
        <input type="text" value="{{data.first_name}}" id="first_name" name="fname"><br>
    
        <label for="lname">Last name:</label>
        <input type="text" value="{{data.last_name}}" id="last_name" name="lname"><br>
    
        <label for="address">Enter your Address:</label>
        <input type="text" value="{{data.Address}}" id="address" name="address"><br>
    
        <label for="phone">Phone number:</label>
        <input type="text" value="{{data.Phone}}" id="phone" name="phone"><br><br>
    
        <button type="submit">Update</button>
      </form>
</body>
</html>